.header {
  max-width: 92,5%;
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 56px;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 90%;
    margin: 28px 48px 48px;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    max-width: 93,7%;
    margin: 15px 24px 35px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    max-width: 90%;
    margin: 16px 16px 48px;
  }
}

