.place {
  display: grid;
  grid-template-columns: 35,9375% 1fr;
  grid-column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 42,96875%  1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 44,270833% 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }
}
